body {
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mark {
    background-color: red;
}

#userTextBox {
    width: 500px;
    height: 50px;
}

#testText {
    margin-right: 50px;
    margin-left: 50px;
}