body {
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mark {
    background-color: #e69fa2;
}

#userTextBox {
    width: 500px;
    height: 50px;
}

#testText {
    margin-right: 50px;
    margin-left: 50px;
}

#footer { 
    height: 20px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    opacity: 1;
}

#startSignal > div {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
}

#userScoreTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #userScoreTable td, #userScoreTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #userScoreTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #userScoreTable tr:hover {background-color: #ddd;}
  
  #userScoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }